USE [master]
GO
/****** Object:  Database [Assignment_FALL2025]    Script Date: 11/10/2025 9:01:29 AM ******/
CREATE DATABASE [Assignment_FALL2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_FALL2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Assignment_FALL2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_FALL2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Assignment_FALL2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_FALL2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_FALL2025]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[head_division_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[ID_manager] [bigint] NULL,
	[ID_division] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
	[RoleID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveApplication]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveApplication](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by] [bigint] NOT NULL,
	[create_time] [datetime] NOT NULL,
	[from] [datetime] NOT NULL,
	[to] [datetime] NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[processed_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeature]    Script Date: 11/10/2025 9:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeature](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleID] [bigint] NOT NULL,
	[FeatureID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeaveApplication] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Division]  WITH NOCHECK ADD  CONSTRAINT [fk_division_head] FOREIGN KEY([head_division_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [fk_division_head]
GO
ALTER TABLE [dbo].[Employee]  WITH NOCHECK ADD  CONSTRAINT [fk_employee_division] FOREIGN KEY([ID_division])
REFERENCES [dbo].[Division] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_employee_division]
GO
ALTER TABLE [dbo].[Employee]  WITH NOCHECK ADD  CONSTRAINT [fk_employee_manager] FOREIGN KEY([ID_manager])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_employee_manager]
GO
ALTER TABLE [dbo].[EmployeeRole]  WITH NOCHECK ADD  CONSTRAINT [fk_employeerole_employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[EmployeeRole] CHECK CONSTRAINT [fk_employeerole_employee]
GO
ALTER TABLE [dbo].[EmployeeRole]  WITH NOCHECK ADD  CONSTRAINT [fk_employeerole_role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[EmployeeRole] CHECK CONSTRAINT [fk_employeerole_role]
GO
ALTER TABLE [dbo].[LeaveApplication]  WITH NOCHECK ADD  CONSTRAINT [fk_leave_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[LeaveApplication] CHECK CONSTRAINT [fk_leave_created_by]
GO
ALTER TABLE [dbo].[LeaveApplication]  WITH NOCHECK ADD  CONSTRAINT [fk_leave_processed_by] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[LeaveApplication] CHECK CONSTRAINT [fk_leave_processed_by]
GO
ALTER TABLE [dbo].[RoleFeature]  WITH NOCHECK ADD  CONSTRAINT [fk_rolefeature_feature] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Feature] ([ID])
GO
ALTER TABLE [dbo].[RoleFeature] CHECK CONSTRAINT [fk_rolefeature_feature]
GO
ALTER TABLE [dbo].[RoleFeature]  WITH NOCHECK ADD  CONSTRAINT [fk_rolefeature_role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleFeature] CHECK CONSTRAINT [fk_rolefeature_role]
GO
ALTER TABLE [dbo].[LeaveApplication]  WITH NOCHECK ADD CHECK  (([status]='CANCELLED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
USE [master]
GO
